@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{width: 95%; margin: auto;}

body{
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    background: #f5f0f0;
}

.MuiBadge-badge{
    background-color: #ff5252 !important;
}

.link:hover{color: grey}